<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<!--Oracle-->
		<add key="BookPointName" value="Научный отдел"/>
		<add key ="UserLogin" value="Chitzal-3-1"/>
		<add key="ConnString" value="Data Source=LIB;Password=IDL;USER ID=id_logic"/>
		<add key="UserInfoReq" value="http://libapi.gubkin.ru/lib/get.php?cardcode={0}&amp;model=z2"/>
		<add key="studentShowTime" value="5"/>
	</appSettings>
</configuration>